@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#app {
    display: grid;
    grid-template-columns: 107px 1fr;
    align-items: center;
    height: 100%;
}

body {
    background: var(--background-gray-600);
    height: 100vh;
}

main {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1330px;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

a {
    text-decoration: none;
}

input {
    width: 100%;
    padding: 0 16px;
    outline: none;
    background: var(--background-gray-500);
    border: none;
    border-radius: 8px;
    color: var(--background-white);
    transition: .5s;
}

input[type='search'],
input[type='text']{
    box-shadow: 0 5px 10px 1px var(--background-black);
    width: 100%;
    min-height: 50px;
}

li {
    list-style: none;
    width: 100%;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width: 1120px) {
    main {
        overflow-y: auto;
    }

    #app {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 720px) {

}